:root {
    --color1: #243757;
    --color2: #3a5f6f;
    --color3: #dad5b7;
    --color4: #c2b79b;
    --color5: #665e52;

    --titulos: "Jaro", sans-serif;
    --parrafos: "Parkinsans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color3);
    font-family: var(--parrafos);
    font-size: 1.6rem;
    line-height: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--color2);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.logo {
    width: 65px;
    border-radius: 50%;
}

.opciones {
    text-decoration: none;
    font-weight: 600;
    color: var(--color3);
}

a:hover {
    font-size: 1.8rem;
    color: var(--color4);
}

header {
    text-align: center;
    background-image: url(https://www.lavanguardia.com/andro4all/hero/2019/08/Calculadora-Xiaomi.jpg?width=1200&aspect_ratio=16:9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15rem;
}